.contact-us .contact-us--intro {
    max-width: 42rem;
}
.contact-us .contact-us--content h2{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.025em;
}
.contact-us .contact-us--so,
.contact-us .contact-us--form {
    padding: var(--space-12);
}
.contact-us .contact-us--so .button--link{
    color: var(--color-white);
}
.contact-us .contact-us--others,
.contact-us .location{
    padding: var(--space-8);
}
.contact-us .contact-us--others {
    margin-bottom: var(--space-6);
    height: 100%;
}
.contact-us .contact-us--others .h5{
    font-weight: 700;
    font-family: 'Manrope',sans-serif;
}
.contact-us .contact-us--others .button--link {
    text-transform: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    overflow-wrap: break-word;
    word-break: break-all;
}
.contact-us .location {
    background: #d9eaff;
    height: 100%;
}
.contact-us .location .address{
    font-size: 0.75rem;
    line-height: 1rem;
}
.contact-us .contact-us--form {
    height: 100%;
}
.contact-us .contact-us--form .form-title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-p);
    letter-spacing: -0.025em;
    margin-bottom: var(--space-10);
}
.contact-us .contact-us--form .hs-form-field > label{
    font-family: Inter, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}
.contact-us .contact-us--form form input[type=text], 
.contact-us .contact-us--form form input[type=search], 
.contact-us .contact-us--form form input[type=email], 
.contact-us .contact-us--form form input[type=password], 
.contact-us .contact-us--form form input[type=tel], 
.contact-us .contact-us--form form input[type=number], 
.contact-us .contact-us--form form input[type=file], 
.contact-us .contact-us--form form select, 
.contact-us .contact-us--form form textarea{
    padding: var(--space-4);
    width: 100%!important;
    background: var(--color-n);
    border: 0!important;
}
.contact-us .contact-us--form form .hs-button {
    background: var(--color-p);
    color: var(--color-white);
    width: 100% !important;
    border: 1px solid var(--color-p);
}
.contact-us .contact-us--form form .hs-button:hover{
    background: var(--color-white);
    color: var(--color-p);
}
.contact-us .contact-us--form form .hs-form-field {
    margin-bottom: var(--space-9);
}