.portfolio-banner{
    position: relative;
    padding-top: calc(12rem + 90px);
    padding-bottom: 12rem;
}
.portfolio-banner--gradient, .portfolio-banner--bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.portfolio-banner--gradient{
    background-image: linear-gradient(to top right, #000f1e, rgba(0, 15, 30, 0.4), transparent);
}
.portfolio-banner--bg{
    opacity: 0.6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-banner--content{
    position: relative;
    max-width: 64rem;
}
.portfolio-banner--copy{
    max-width: 42rem;
}
.portfolio-banner--tag {
    display: inline-block;
    padding: var(--space-1) var(--space-4);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}