{% set titleColor = 'p' %}
<div class="cards-mod bg-color-{{ module.style.background_color }} {{ module.style.padding_top }} {{ module.style.padding_bottom }}">
    <div class="container">
        {% if module.heading %}
        <div class="cards-mod--heading font-color-{{ titleColor }} pb-4">
            <h2 class="h3 mb-0">
                {{ module.heading }}
            </h2>
        </div>            
        {% endif %}
        <div class="grid grid--3 grid--gap--0">            
            {% for item in module.cards %}
            <div class="cards-mod--item">
                <div class="image-cover">
                {% if item.image_field.src %}
                    {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
                    {% if item.image_field.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.image_field.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                    <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}>
                {% endif %}
                </div>
                <div class="cards-mod--desc">
                    <h3 class="h4 mb-4 font-color-{{ titleColor }}">{{ item.title }}</h3>
                    <div>
                        {{ item.description }}
                    </div>                        
                    {% if item.link.text_field %}
                        {% set href = item.link.link_field.url.href %}
                        {% if item.link.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                        {% elif item.link.link_field.url.type is equalto "PHONE_NUMBER" %}
                        {% set href = "tel:" + href %}
                        {% endif %}
                        <a
                        {% if item.link.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                            href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                        {% else %}
                            href="{{ href|escape_url }}"
                        {% endif %}
                        {% if item.link.link_field.open_in_new_tab %}
                            target="_blank"
                        {% endif %}
                        {% if item.link.link_field.rel %}
                            rel="{{ item.link.link_field.rel|escape_attr }}"
                        {% endif %}
                        class="mt-6 button--link"
                        >
                            {{ item.link.text_field }}
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="currentColor" d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z"/></svg></span>
                        </a>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>