.statistics-mod .grid{
    place-items: center;
}
.statistics--title {
    text-transform: uppercase;
}
.statistics--item {
    padding-left: 2rem;
    border-left: 4px solid var(--color-s);
}
.statistics-mod.bg-color-s  .statistics--item {
    border-color: var(--color-p);
}