
.two-column-text-img .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.two-column-text-img .list ul li {
    display: flex;
    gap: 1.5rem;
}
.two-column-text-img .list ul li .list-icon{
    width: 36px;
    text-align: center;
}
.two-column-text-img .image-cover {
    position: relative;
    padding-top: 100%;
}
.two-column-text-img .image-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (min-width: 992px){
    .two-column-text-img .grid{
        gap: 6rem;
    }
}